@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
}
a {
  text-decoration: none;
}
.heading {
  width: 1600px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background: rgb(255, 248, 243);
}
.heading img {
  width: 101px;
}
.main-section {
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0 200px 0 70px;
}
.navbar h3 {
  font-size: 45px;
  font-weight: 800;
  text-align: left;
}
.navbar h3 span {
  color: rgb(253, 110, 10);
}
.links {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.links a {
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}
.links a:hover {
  color: rgb(253, 110, 10);
}
.links button {
  width: 150px;
  height: 64px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(253, 110, 10);
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 70px;
  height: 90%;
}
.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px 0 0;
  row-gap: 10px;
}
.hero-text h3 {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
}
.hero-text h1 {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
}
.hero-text p {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
}
.buttons {
  margin-top: 25px;
  display: flex;
  column-gap: 30px;
}
.buttons button:nth-child(1) {
  width: 200px;
  height: 64px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background: rgb(253, 110, 10);
  cursor: pointer;
}
.buttons button:nth-child(2) {
  cursor: pointer;
  width: 160px;
  height: 64px;
  color: rgb(253, 110, 10);
  background: none;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid rgb(253, 110, 10);
  border-radius: 5px;
}
.hero-img {
  width: 50%;
  position: relative;
}
.hero-img img:nth-child(1) {
  width: 115%;
  position: absolute;
  bottom: -7.4%;
  right: -12%;
}
.hero-img img:nth-child(2) {
  position: absolute;
  width: 82%;
  bottom: -7.4%;
  right: -5%;
}
.about-me-section {
  width: 100%;
  margin: 150px auto;
}
.about-me-section .container {
  width: 1140px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff8f3;
}
.about-me-section .content {
  width: 827px;
  height: 288px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: space-between;
  padding: 10px 0;
}
.about-me-section .content h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.about-me-section .content p {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.about-me-section .details {
  display: flex;
  justify-content: space-around;
}
.about-me-section .details .items {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
/* Skills Section */
.skills-section {
  width: 100%;
  margin: 150px auto;
}
.skills-section .container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.skills-section h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.skills-section p {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.skills-section .skills {
  display: flex;
  justify-content: space-between;
}
.skills-section .skills .card {
  width: 267px;
  height: 377px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: rgb(255, 255, 255);
  display: flex;
  row-gap: 20px;
  align-items: start;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  padding: 30px;
}
.skills-section .skills .card:hover {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-section .skills .card img {
  width: 44px;
  height: 44px;
}
.skills-section .skills .card h3 {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.skills-section .skills .card p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: start;
}
/* Experience Section */
.experiences-section {
  width: 100%;
  margin: 150px auto;
}
.experiences-section .container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 90px;
}
.experiences-section .container h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.experience-education {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.education,
.experience {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.experience-education .cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.experience-title,
.education-title {
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}
.experience-education .card {
  width: 558px;
  border-bottom: 2px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  padding: 20px 20px 20px 0;
}
.experience-education .card .titles {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.experience-education .card h3 {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
}
.experience-education .card h4 {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
}
.experience-education .card p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
}
.experiences-section .container button {
  width: 200px;
  height: 64px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  background: rgb(253, 110, 10);
  border: none;
}
